# Environment
ENV=dev

# API Keys

AIRFLOW_VAR_NASA_API_KEY=add-your-own-secret-key-here

# Airflow Environment Variables
LOAD_EXAMPLES=false
AIRFLOW__API_AUTH__JWT_SECRET=add-your-own-jwt-secret-here
AIRFLOW__API_AUTH__JWT_ISSUER=
AIRFLOW_PROJ_DIR=.
AIRFLOW_UID=1000
POSTGRES_USER=add-your-own-username-here
POSTGRES_PASSWORD=add-your-own-password-here
POSTGRES_DB=airflow_db

_AIRFLOW_WWW_USER_USERNAME=add-your-own-username-here
_AIRFLOW_WWW_USER_PASSWORD=add-your-own-password-here
_PIP_ADDITIONAL_REQUIREMENTS=dlt psycopg2-binary

# Airflow config (from airflow.cfg)
# [core]
AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
AIRFLOW__CORE__HOSTNAME_CALLABLE=airflow.utils.net.getfqdn
AIRFLOW__CORE__MIGHT_CONTAIN_DAG_CALLABLE=airflow.utils.file.might_contain_dag_via_default_heuristic
AIRFLOW__CORE__DEFAULT_TIMEZONE=utc
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__AUTH_MANAGER=airflow.api_fastapi.auth.managers.simple.simple_auth_manager.SimpleAuthManager
AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS=admin:admin
AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_ALL_ADMINS=False
AIRFLOW__CORE__PARALLELISM=32
AIRFLOW__CORE__MAX_ACTIVE_TASKS_PER_DAG=16
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
AIRFLOW__CORE__MAX_ACTIVE_RUNS_PER_DAG=16
AIRFLOW__CORE__MAX_CONSECUTIVE_FAILED_DAG_RUNS_PER_DAG=0
AIRFLOW__CORE__LOAD_EXAMPLES=${LOAD_EXAMPLES}
AIRFLOW__CORE__PLUGINS_FOLDER=/opt/airflow/plugins
AIRFLOW__CORE__EXECUTE_TASKS_NEW_PYTHON_INTERPRETER=False
AIRFLOW__CORE__FERNET_KEY=ksk60_rk08Gm3ArLDSHIbnVXjoaNprMdh9OsxdC8jR4=
AIRFLOW__CORE__DAGBAG_IMPORT_TIMEOUT=30.0
AIRFLOW__CORE__DAGBAG_IMPORT_ERROR_TRACEBACKS=True
AIRFLOW__CORE__DAGBAG_IMPORT_ERROR_TRACEBACK_DEPTH=2
AIRFLOW__CORE__UNIT_TEST_MODE=False
AIRFLOW__CORE__ALLOWED_DESERIALIZATION_CLASSES=airflow.*
AIRFLOW__CORE__KILLED_TASK_CLEANUP_TIME=60
AIRFLOW__CORE__DAG_RUN_CONF_OVERRIDES_PARAMS=True
AIRFLOW__CORE__DAG_DISCOVERY_SAFE_MODE=True
AIRFLOW__CORE__DAG_IGNORE_FILE_SYNTAX=glob
AIRFLOW__CORE__DEFAULT_TASK_RETRIES=0
AIRFLOW__CORE__DEFAULT_TASK_RETRY_DELAY=300
AIRFLOW__CORE__MAX_TASK_RETRY_DELAY=86400
AIRFLOW__CORE__DEFAULT_TASK_WEIGHT_RULE=downstream
AIRFLOW__CORE__TASK_SUCCESS_OVERTIME=20
AIRFLOW__CORE__MIN_SERIALIZED_DAG_UPDATE_INTERVAL=30
AIRFLOW__CORE__COMPRESS_SERIALIZED_DAGS=False
AIRFLOW__CORE__MIN_SERIALIZED_DAG_FETCH_INTERVAL=10
AIRFLOW__CORE__MAX_NUM_RENDERED_TI_FIELDS_PER_TASK=30
AIRFLOW__CORE__XCOM_BACKEND=airflow.sdk.execution_time.xcom.BaseXCom
AIRFLOW__CORE__LAZY_LOAD_PLUGINS=True
AIRFLOW__CORE__LAZY_DISCOVER_PROVIDERS=True
AIRFLOW__CORE__HIDE_SENSITIVE_VAR_CONN_FIELDS=True
AIRFLOW__CORE__DEFAULT_POOL_TASK_SLOT_COUNT=128
AIRFLOW__CORE__MAX_MAP_LENGTH=1024
AIRFLOW__CORE__DAEMON_UMASK=0o077
AIRFLOW__CORE__TEST_CONNECTION=Disabled
AIRFLOW__CORE__MAX_TEMPLATED_FIELD_LENGTH=4096
# [database]
AIRFLOW__DATABASE__ALEMBIC_INI_FILE_PATH=alembic.ini
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://add-your-own-username-here:add-your-own-password-here@postgres/airflow_db
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://add-your-own-username-here:add-your-own-password-here@postgres/airflow_db
AIRFLOW__DATABASE__SQL_ENGINE_ENCODING=utf-8
AIRFLOW__DATABASE__SQL_ALCHEMY_POOL_ENABLED=True
AIRFLOW__DATABASE__SQL_ALCHEMY_POOL_SIZE=5
AIRFLOW__DATABASE__SQL_ALCHEMY_MAX_OVERFLOW=10
AIRFLOW__DATABASE__SQL_ALCHEMY_POOL_RECYCLE=1800
AIRFLOW__DATABASE__SQL_ALCHEMY_POOL_PRE_PING=True
AIRFLOW__DATABASE__MAX_DB_RETRIES=3
AIRFLOW__DATABASE__CHECK_MIGRATIONS=True
AIRFLOW__DATABASE__MIGRATION_BATCH_SIZE=10000
# [logging]
AIRFLOW__LOGGING__BASE_LOG_FOLDER=/opt/airflow/logs
AIRFLOW__LOGGING__REMOTE_LOGGING=False
AIRFLOW__LOGGING__DELETE_LOCAL_LOGS=False
AIRFLOW__LOGGING__ENCRYPT_S3_LOGS=False
AIRFLOW__LOGGING__LOGGING_LEVEL=DEBUG
AIRFLOW__LOGGING__FAB_LOGGING_LEVEL=WARNING
AIRFLOW__LOGGING__COLORED_CONSOLE_LOG=True
AIRFLOW__LOGGING__CALLSITE_PARAMETERS=filename,lineno
AIRFLOW__LOGGING__SIMPLE_LOG_FORMAT="%(asctime)s %(levelname)s - %(message)s"
AIRFLOW__LOGGING__DAG_PROCESSOR_LOG_TARGET=file
AIRFLOW__LOGGING__DAG_PROCESSOR_LOG_FORMAT="[%(asctime)s] [SOURCE:DAG_PROCESSOR] {%(filename)s:%(lineno)d} %(levelname)s - %(message)s"
AIRFLOW__LOGGING__DAG_PROCESSOR_CHILD_PROCESS_LOG_DIRECTORY=/opt/airflow/logs/dag_processor
AIRFLOW__LOGGING__LOG_FORMATTER_CLASS=airflow.utils.log.timezone_aware.TimezoneAware
AIRFLOW__LOGGING__MIN_LENGTH_MASKED_SECRET=5
AIRFLOW__LOGGING__LOG_FILENAME_TEMPLATE="dag_id={{ ti.dag_id }}/run_id={{ ti.run_id }}/task_id={{ ti.task_id }}/{% if ti.map_index >= 0 %}map_index={{ ti.map_index }}/{% endif %}attempt={{ try_number|default(ti.try_number) }}.log"
AIRFLOW__LOGGING__TASK_LOG_READER=task
AIRFLOW__LOGGING__WORKER_LOG_SERVER_PORT=8793
AIRFLOW__LOGGING__TRIGGER_LOG_SERVER_PORT=8794
AIRFLOW__LOGGING__FILE_TASK_HANDLER_NEW_FOLDER_PERMISSIONS=0o775
AIRFLOW__LOGGING__FILE_TASK_HANDLER_NEW_FILE_PERMISSIONS=0o664
AIRFLOW__LOGGING__CELERY_STDOUT_STDERR_SEPARATION=False
AIRFLOW__LOGGING__COLOR_LOG_ERROR_KEYWORDS=error,exception
AIRFLOW__LOGGING__COLOR_LOG_WARNING_KEYWORDS=warn
# [metrics]
AIRFLOW__METRICS__STATSD_ON=False
AIRFLOW__METRICS__STATSD_HOST=localhost
AIRFLOW__METRICS__STATSD_IPV6=False
AIRFLOW__METRICS__STATSD_PORT=8125
AIRFLOW__METRICS__STATSD_PREFIX=airflow
AIRFLOW__METRICS__STATSD_DATADOG_ENABLED=False
AIRFLOW__METRICS__STATSD_DATADOG_METRICS_TAGS=True
AIRFLOW__METRICS__STATSD_DISABLED_TAGS=job_id,run_id
AIRFLOW__METRICS__STATSD_INFLUXDB_ENABLED=False
AIRFLOW__METRICS__OTEL_ON=False
AIRFLOW__METRICS__OTEL_HOST=localhost
AIRFLOW__METRICS__OTEL_PORT=8889
AIRFLOW__METRICS__OTEL_PREFIX=airflow
AIRFLOW__METRICS__OTEL_INTERVAL_MILLISECONDS=60000
AIRFLOW__METRICS__OTEL_DEBUGGING_ON=False
AIRFLOW__METRICS__OTEL_SERVICE=Airflow
AIRFLOW__METRICS__OTEL_SSL_ACTIVE=False
# [traces]
AIRFLOW__TRACES__OTEL_ON=False
AIRFLOW__TRACES__OTEL_HOST=localhost
AIRFLOW__TRACES__OTEL_PORT=8889
AIRFLOW__TRACES__OTEL_SERVICE=Airflow
AIRFLOW__TRACES__OTEL_DEBUGGING_ON=False
AIRFLOW__TRACES__OTEL_SSL_ACTIVE=False
AIRFLOW__TRACES__OTEL_DEBUG_TRACES_ON=False
# [secrets]
AIRFLOW__SECRETS__USE_CACHE=False
AIRFLOW__SECRETS__CACHE_TTL_SECONDS=900
# [api]
AIRFLOW__API__ENABLE_SWAGGER_UI=True
AIRFLOW__API__SECRET_KEY=6R12/Rh3C/XSfvGQpozhtA==
AIRFLOW__API__EXPOSE_CONFIG=False
AIRFLOW__API__EXPOSE_STACKTRACE=False
AIRFLOW__API__HOST=0.0.0.0
AIRFLOW__API__PORT=8080
AIRFLOW__API__WORKERS=1
AIRFLOW__API__WORKER_TIMEOUT=120
AIRFLOW__API__MAXIMUM_PAGE_LIMIT=100
AIRFLOW__API__FALLBACK_PAGE_LIMIT=50
AIRFLOW__API__GRID_VIEW_SORTING_ORDER=topological
AIRFLOW__API__LOG_FETCH_TIMEOUT_SEC=5
AIRFLOW__API__HIDE_PAUSED_DAGS_BY_DEFAULT=False
AIRFLOW__API__PAGE_SIZE=50
AIRFLOW__API__DEFAULT_WRAP=False
AIRFLOW__API__AUTO_REFRESH_INTERVAL=3
AIRFLOW__API__REQUIRE_CONFIRMATION_DAG_CHANGE=False
# [workers]
AIRFLOW__WORKERS__MIN_HEARTBEAT_INTERVAL=5
AIRFLOW__WORKERS__MAX_FAILED_HEARTBEATS=3
AIRFLOW__WORKERS__EXECUTION_API_RETRIES=5
AIRFLOW__WORKERS__EXECUTION_API_RETRY_WAIT_MIN=1.0
AIRFLOW__WORKERS__EXECUTION_API_RETRY_WAIT_MAX=90.0
AIRFLOW__WORKERS__EXECUTION_API_TIMEOUT=5.0
AIRFLOW__WORKERS__SOCKET_CLEANUP_TIMEOUT=60.0
AIRFLOW__WORKERS__MISSING_DAG_RETRIES=3
AIRFLOW__WORKERS__MISSING_DAG_RETRY_DELAY=60
# [api_auth]
AIRFLOW__API_AUTH__JWT_EXPIRATION_TIME=86400
AIRFLOW__API_AUTH__JWT_CLI_EXPIRATION_TIME=3600
AIRFLOW__API_AUTH__JWT_LEEWAY=10
# [execution_api]
AIRFLOW__EXECUTION_API__JWT_EXPIRATION_TIME=600
AIRFLOW__EXECUTION_API__JWT_AUDIENCE=urn:airflow.apache.org:task
# [operators]
AIRFLOW__OPERATORS__DEFAULT_OWNER=airflow
AIRFLOW__OPERATORS__DEFAULT_DEFERRABLE=false
AIRFLOW__OPERATORS__DEFAULT_CPUS=1
AIRFLOW__OPERATORS__DEFAULT_RAM=512
AIRFLOW__OPERATORS__DEFAULT_DISK=512
AIRFLOW__OPERATORS__DEFAULT_GPUS=0
AIRFLOW__OPERATORS__DEFAULT_QUEUE=default
# [email]
AIRFLOW__EMAIL__EMAIL_BACKEND=airflow.utils.email.send_email_smtp
AIRFLOW__EMAIL__EMAIL_CONN_ID=smtp_default
AIRFLOW__EMAIL__DEFAULT_EMAIL_ON_RETRY=True
AIRFLOW__EMAIL__DEFAULT_EMAIL_ON_FAILURE=True
AIRFLOW__EMAIL__SSL_CONTEXT=default
# [smtp]
AIRFLOW__SMTP__SMTP_HOST=localhost
AIRFLOW__SMTP__SMTP_STARTTLS=True
AIRFLOW__SMTP__SMTP_SSL=False
AIRFLOW__SMTP__SMTP_PORT=25
AIRFLOW__SMTP__SMTP_MAIL_FROM=airflow@example.com
AIRFLOW__SMTP__SMTP_TIMEOUT=30
AIRFLOW__SMTP__SMTP_RETRY_LIMIT=5
# [sentry]
AIRFLOW__SENTRY__SENTRY_ON=false
# [scheduler]
AIRFLOW__SCHEDULER__JOB_HEARTBEAT_SEC=5
AIRFLOW__SCHEDULER__SCHEDULER_HEARTBEAT_SEC=5
AIRFLOW__SCHEDULER__TASK_INSTANCE_HEARTBEAT_SEC=0
AIRFLOW__SCHEDULER__NUM_RUNS=-1
AIRFLOW__SCHEDULER__SCHEDULER_IDLE_SLEEP_TIME=1
AIRFLOW__SCHEDULER__PARSING_CLEANUP_INTERVAL=60
AIRFLOW__SCHEDULER__POOL_METRICS_INTERVAL=5.0
AIRFLOW__SCHEDULER__RUNNING_METRICS_INTERVAL=30.0
AIRFLOW__SCHEDULER__SCHEDULER_HEALTH_CHECK_THRESHOLD=30
AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK=False
AIRFLOW__SCHEDULER__SCHEDULER_HEALTH_CHECK_SERVER_HOST=0.0.0.0
AIRFLOW__SCHEDULER__SCHEDULER_HEALTH_CHECK_SERVER_PORT=8974
AIRFLOW__SCHEDULER__ORPHANED_TASKS_CHECK_INTERVAL=300.0
AIRFLOW__SCHEDULER__TASK_INSTANCE_HEARTBEAT_TIMEOUT=300
AIRFLOW__SCHEDULER__TASK_INSTANCE_HEARTBEAT_TIMEOUT_DETECTION_INTERVAL=10.0
AIRFLOW__SCHEDULER__CATCHUP_BY_DEFAULT=False
AIRFLOW__SCHEDULER__IGNORE_FIRST_DEPENDS_ON_PAST_BY_DEFAULT=True
AIRFLOW__SCHEDULER__MAX_TIS_PER_QUERY=16
AIRFLOW__SCHEDULER__USE_ROW_LEVEL_LOCKING=True
AIRFLOW__SCHEDULER__MAX_DAGRUNS_TO_CREATE_PER_LOOP=10
AIRFLOW__SCHEDULER__MAX_DAGRUNS_PER_LOOP_TO_SCHEDULE=20
AIRFLOW__SCHEDULER__USE_JOB_SCHEDULE=True
AIRFLOW__SCHEDULER__TRIGGER_TIMEOUT_CHECK_INTERVAL=15
AIRFLOW__SCHEDULER__TASK_QUEUED_TIMEOUT=600.0
AIRFLOW__SCHEDULER__TASK_QUEUED_TIMEOUT_CHECK_INTERVAL=120.0
AIRFLOW__SCHEDULER__ALLOWED_RUN_ID_PATTERN="^[A-Za-z0-9_.~:+-]+$"
AIRFLOW__SCHEDULER__CREATE_CRON_DATA_INTERVALS=False
AIRFLOW__SCHEDULER__CREATE_DELTA_DATA_INTERVALS=False
AIRFLOW__SCHEDULER__ENABLE_TRACEMALLOC=False
# [triggerer]
AIRFLOW__TRIGGERER__CAPACITY=1000
AIRFLOW__TRIGGERER__JOB_HEARTBEAT_SEC=5
AIRFLOW__TRIGGERER__TRIGGERER_HEALTH_CHECK_THRESHOLD=30
# [kerberos]
AIRFLOW__KERBEROS__CCACHE=/tmp/airflow_krb5_ccache
AIRFLOW__KERBEROS__PRINCIPAL=airflow
AIRFLOW__KERBEROS__REINIT_FREQUENCY=3600
AIRFLOW__KERBEROS__KINIT_PATH=kinit
AIRFLOW__KERBEROS__KEYTAB=airflow.keytab
AIRFLOW__KERBEROS__FORWARDABLE=True
AIRFLOW__KERBEROS__INCLUDE_IP=True
# [sensors]
AIRFLOW__SENSORS__DEFAULT_TIMEOUT=604800
# [dag_processor]
AIRFLOW__DAG_PROCESSOR__DAG_BUNDLE_CONFIG_LIST="[ { \"name\": \"dags-folder\", \"classpath\": \"airflow.dag_processing.bundles.local.LocalDagBundle\", \"kwargs\": {} } ]"
AIRFLOW__DAG_PROCESSOR__REFRESH_INTERVAL=300
AIRFLOW__DAG_PROCESSOR__PARSING_PROCESSES=2
AIRFLOW__DAG_PROCESSOR__FILE_PARSING_SORT_MODE=modified_time
AIRFLOW__DAG_PROCESSOR__MAX_CALLBACKS_PER_LOOP=20
AIRFLOW__DAG_PROCESSOR__MIN_FILE_PROCESS_INTERVAL=30
AIRFLOW__DAG_PROCESSOR__STALE_DAG_THRESHOLD=50
AIRFLOW__DAG_PROCESSOR__DAG_FILE_PROCESSOR_TIMEOUT=50
AIRFLOW__DAG_PROCESSOR__PRINT_STATS_INTERVAL=30
AIRFLOW__DAG_PROCESSOR__DISABLE_BUNDLE_VERSIONING=False
AIRFLOW__DAG_PROCESSOR__BUNDLE_REFRESH_CHECK_INTERVAL=5
AIRFLOW__DAG_PROCESSOR__STALE_BUNDLE_CLEANUP_INTERVAL=1800
AIRFLOW__DAG_PROCESSOR__STALE_BUNDLE_CLEANUP_AGE_THRESHOLD=21600
AIRFLOW__DAG_PROCESSOR__STALE_BUNDLE_CLEANUP_MIN_VERSIONS=10
AIRFLOW__DAG_PROCESSOR__PARSING_PRE_IMPORT_MODULES=True
# [aws]
AIRFLOW__AWS__CLOUDWATCH_TASK_HANDLER_JSON_SERIALIZER=airflow.providers.amazon.aws.log.cloudwatch_task_handler.json_serialize_legacy
# [aws_batch_executor]
AIRFLOW__AWS_BATCH_EXECUTOR__CONN_ID=aws_default
AIRFLOW__AWS_BATCH_EXECUTOR__MAX_SUBMIT_JOB_ATTEMPTS=3
AIRFLOW__AWS_BATCH_EXECUTOR__CHECK_HEALTH_ON_STARTUP=True
# [aws_lambda_executor]
AIRFLOW__AWS_LAMBDA_EXECUTOR__CONN_ID=aws_default
AIRFLOW__AWS_LAMBDA_EXECUTOR__CHECK_HEALTH_ON_STARTUP=True
AIRFLOW__AWS_LAMBDA_EXECUTOR__MAX_INVOKE_ATTEMPTS=3
AIRFLOW__AWS_LAMBDA_EXECUTOR__END_WAIT_TIMEOUT=0
# [aws_ecs_executor]
AIRFLOW__AWS_ECS_EXECUTOR__CONN_ID=aws_default
AIRFLOW__AWS_ECS_EXECUTOR__ASSIGN_PUBLIC_IP=False
AIRFLOW__AWS_ECS_EXECUTOR__PLATFORM_VERSION=LATEST
AIRFLOW__AWS_ECS_EXECUTOR__MAX_RUN_TASK_ATTEMPTS=3
AIRFLOW__AWS_ECS_EXECUTOR__CHECK_HEALTH_ON_STARTUP=True
# [aws_auth_manager]
AIRFLOW__AWS_AUTH_MANAGER__CONN_ID=aws_default
# [celery_kubernetes_executor]
AIRFLOW__CELERY_KUBERNETES_EXECUTOR__KUBERNETES_QUEUE=kubernetes
# [celery]
AIRFLOW__CELERY__CELERY_APP_NAME=airflow.providers.celery.executors.celery_executor
AIRFLOW__CELERY__WORKER_CONCURRENCY=16
AIRFLOW__CELERY__WORKER_PREFETCH_MULTIPLIER=1
AIRFLOW__CELERY__WORKER_ENABLE_REMOTE_CONTROL=true
AIRFLOW__CELERY__BROKER_URL=redis://redis:6379/0
AIRFLOW__CELERY__FLOWER_HOST=0.0.0.0
AIRFLOW__CELERY__FLOWER_PORT=5555
AIRFLOW__CELERY__SYNC_PARALLELISM=0
AIRFLOW__CELERY__CELERY_CONFIG_OPTIONS=airflow.providers.celery.executors.default_celery.DEFAULT_CELERY_CONFIG
AIRFLOW__CELERY__SSL_ACTIVE=False
AIRFLOW__CELERY__POOL=prefork
AIRFLOW__CELERY__OPERATION_TIMEOUT=1.0
AIRFLOW__CELERY__TASK_ACKS_LATE=True
AIRFLOW__CELERY__TASK_TRACK_STARTED=True
AIRFLOW__CELERY__TASK_PUBLISH_MAX_RETRIES=3
AIRFLOW__CELERY__EXTRA_CELERY_CONFIG="{}"
# [local_kubernetes_executor]
AIRFLOW__LOCAL_KUBERNETES_EXECUTOR__KUBERNETES_QUEUE=kubernetes
# [kubernetes_executor]
AIRFLOW__KUBERNETES_EXECUTOR__LOGS_TASK_METADATA=False
AIRFLOW__KUBERNETES_EXECUTOR__NAMESPACE=default
AIRFLOW__KUBERNETES_EXECUTOR__DELETE_WORKER_PODS=True
AIRFLOW__KUBERNETES_EXECUTOR__DELETE_WORKER_PODS_ON_FAILURE=False
AIRFLOW__KUBERNETES_EXECUTOR__WORKER_POD_PENDING_FATAL_CONTAINER_STATE_REASONS=CreateContainerConfigError,ErrImagePull,CreateContainerError,ImageInspectError,InvalidImageName
AIRFLOW__KUBERNETES_EXECUTOR__WORKER_PODS_CREATION_BATCH_SIZE=1
AIRFLOW__KUBERNETES_EXECUTOR__MULTI_NAMESPACE_MODE=False
AIRFLOW__KUBERNETES_EXECUTOR__IN_CLUSTER=True
AIRFLOW__KUBERNETES_EXECUTOR__ENABLE_TCP_KEEPALIVE=True
AIRFLOW__KUBERNETES_EXECUTOR__TCP_KEEP_IDLE=120
AIRFLOW__KUBERNETES_EXECUTOR__TCP_KEEP_INTVL=30
AIRFLOW__KUBERNETES_EXECUTOR__TCP_KEEP_CNT=6
AIRFLOW__KUBERNETES_EXECUTOR__VERIFY_SSL=True
AIRFLOW__KUBERNETES_EXECUTOR__TASK_PUBLISH_MAX_RETRIES=0
# [elasticsearch]
AIRFLOW__ELASTICSEARCH__LOG_ID_TEMPLATE="{dag_id}-{task_id}-{run_id}-{map_index}-{try_number}"
AIRFLOW__ELASTICSEARCH__END_OF_LOG_MARK=end_of_log
AIRFLOW__ELASTICSEARCH__WRITE_STDOUT=False
AIRFLOW__ELASTICSEARCH__WRITE_TO_ES=False
AIRFLOW__ELASTICSEARCH__TARGET_INDEX=airflow-logs
AIRFLOW__ELASTICSEARCH__JSON_FORMAT=False
AIRFLOW__ELASTICSEARCH__JSON_FIELDS="asctime, filename, lineno, levelname, message"
AIRFLOW__ELASTICSEARCH__HOST_FIELD=host
AIRFLOW__ELASTICSEARCH__OFFSET_FIELD=offset
AIRFLOW__ELASTICSEARCH__INDEX_PATTERNS=_all
AIRFLOW__ELASTICSEARCH__MAX_LINES_PER_PAGE=1000
# [elasticsearch_configs]
AIRFLOW__ELASTICSEARCH_CONFIGS__HTTP_COMPRESS=False
AIRFLOW__ELASTICSEARCH_CONFIGS__VERIFY_CERTS=True
# [fab]
AIRFLOW__FAB__COOKIE_SECURE=False
AIRFLOW__FAB__COOKIE_SAMESITE=Lax
AIRFLOW__FAB__NAVBAR_COLOR="#fff"
AIRFLOW__FAB__NAVBAR_TEXT_COLOR="#51504f"
AIRFLOW__FAB__NAVBAR_HOVER_COLOR="#eee"
AIRFLOW__FAB__NAVBAR_TEXT_HOVER_COLOR="#51504f"
AIRFLOW__FAB__ACCESS_DENIED_MESSAGE="Access is Denied"
AIRFLOW__FAB__EXPOSE_HOSTNAME=False
AIRFLOW__FAB__AUTH_RATE_LIMITED=True
AIRFLOW__FAB__AUTH_RATE_LIMIT="5 per 40 second"
AIRFLOW__FAB__UPDATE_FAB_PERMS=True
AIRFLOW__FAB__AUTH_BACKENDS=airflow.providers.fab.auth_manager.api.auth.backend.session
AIRFLOW__FAB__CONFIG_FILE=/opt/airflow/webserver_config.py
AIRFLOW__FAB__SESSION_BACKEND=database
AIRFLOW__FAB__SESSION_LIFETIME_MINUTES=43200
AIRFLOW__FAB__ENABLE_PROXY_FIX=False
AIRFLOW__FAB__PROXY_FIX_X_FOR=1
AIRFLOW__FAB__PROXY_FIX_X_PROTO=1
AIRFLOW__FAB__PROXY_FIX_X_HOST=1
AIRFLOW__FAB__PROXY_FIX_X_PORT=1
AIRFLOW__FAB__PROXY_FIX_X_PREFIX=1
AIRFLOW__FAB__CACHE_TTL=30
# [azure_remote_logging]
AIRFLOW__AZURE_REMOTE_LOGGING__REMOTE_WASB_LOG_CONTAINER=airflow-logs
# [openlineage]
AIRFLOW__OPENLINEAGE__DAG_STATE_CHANGE_PROCESS_POOL_SIZE=1
AIRFLOW__OPENLINEAGE__DEBUG_MODE=False
AIRFLOW__OPENLINEAGE__DISABLE_SOURCE_CODE=False
AIRFLOW__OPENLINEAGE__DISABLED=False
AIRFLOW__OPENLINEAGE__EXECUTION_TIMEOUT=10
AIRFLOW__OPENLINEAGE__INCLUDE_FULL_TASK_INFO=False
AIRFLOW__OPENLINEAGE__SELECTIVE_ENABLE=False
AIRFLOW__OPENLINEAGE__SPARK_INJECT_PARENT_JOB_INFO=False
AIRFLOW__OPENLINEAGE__SPARK_INJECT_TRANSPORT_INFO=False
# [postgres]
AIRFLOW__POSTGRES__AZURE_OAUTH_SCOPE=https://ossrdbms-aad.database.windows.net/.default
# [snowflake]
AIRFLOW__SNOWFLAKE__AZURE_OAUTH_SCOPE=api://snowflake_oauth_server/.default
# [standard]
AIRFLOW__STANDARD__VENV_INSTALL_METHOD=auto
