anyio==4.12.1
attrs==25.4.0
certifi==2026.2.25
charset-normalizer==3.4.5
click==8.3.1
cron-descriptor==2.0.6
dlt==1.23.0
dlt-runtime==0.21.2
dlthub==0.22.1
ecdsa==0.19.1
fsspec==2026.2.0
gitdb==4.0.12
gitpython==3.1.46
giturlparse==0.14.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
humanize==4.15.0
idna==3.11
jsonpath-ng==1.7.0
markdown-it-py==4.0.0
mdurl==0.1.2
orjson==3.11.7
packaging==26.0
pathspec==1.0.4
pathvalidate==3.3.1
pendulum==3.2.0
pluggy==1.6.0
ply==3.11
pyasn1==0.6.2
pygments==2.19.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-jose==3.5.0
pytz==2026.1.post1
pyyaml==6.0.3
requests==2.32.5
requirements-parser==0.13.0
rich==14.3.3
rich-argparse==1.7.2
rsa==4.9.1
ruamel-yaml==0.19.1
semver==3.0.4
setuptools==82.0.1
simplejson==3.20.2
six==1.17.0
smmap==5.0.3
sqlglot==28.0.0
tabulate==0.10.0
tenacity==9.1.4
tomlkit==0.14.0
typing-extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
